<footer class="footer navbar-static-bottom"> <!-- Aqui e a area do footer -->
	<div class="container-fluid">
		<nav class="navbar navbar-default" style="background-color:black"><br>
    <div class="text-center" style="color:white">Desenvolvido por Gabriel, Guilherme e Tales :)</div>
		</div>
			</nav>
	</div>
</footer>